// ==========================================================================
// ACCESSIBILITY LAB SPECIFIC STYLES
// ==========================================================================


.force-hover {
  color: var(--bs-btn-hover-color, inherit) !important;
  background-color: var(--bs-btn-hover-bg, inherit) !important;
  border-color: var(--bs-btn-hover-border-color, inherit) !important;
  text-decoration: underline;
}

.force-active {
  color: var(--bs-btn-active-color, inherit) !important;
  background-color: var(--bs-btn-active-bg, inherit) !important;
  border-color: var(--bs-btn-active-border-color, inherit) !important;
}

.force-focus {
  color: var(--bs-btn-focus-color, inherit) !important;
  background-color: var(--bs-btn-focus-bg, inherit) !important;
  border-color: var(--bs-btn-focus-border-color, inherit) !important;
  outline: 3px solid $focus-ring-color !important;
  outline-offset: 2px !important;
  box-shadow: none !important;
}

.form-control.force-focus,
.form-select.force-focus {
  outline: 3px solid $focus-ring-color !important;
  outline-offset: 2px !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

//Color Blindness Emulation
// Basato sul progetto "Color Blindness Emulation" di hail2u
// https://github.com/hail2u/color-blindness-emulation
$cb-types: (
  "protanopia",
  "protanomaly",
  "deuteranopia",
  "deuteranomaly",
  "tritanopia",
  "tritanomaly",
  "achromatopsia",
  "achromatomaly"
);

@each $type in $cb-types {
  .#{$type} {
    filter: url("../filters.svg##{$type}");
  }
}

.test-grayscale {
  filter: grayscale(100%);
}

.scenario-box {
  border: 2px dashed var(--bs-secondary-bg);
  padding: 3rem;
  margin-bottom: 3rem;
  border-radius: 12px;
}
